@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --color-dark: black;
  --color-neutral-dark: #131313;
  --color-light: #efeeec;
  --font-primary: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
  background-color: black;
}

html,
body {
  overflow: hidden;
  width: 100%;
  margin: 0px;
  font-size: 16px;
  font-family: var(--font-primary);
  font-weight: 500;
  line-height: 1;
}

body {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h2,
p {
  margin: 0;
}
