.heroSection {
  width: 100%;
  position: relative;
  background-color: black;
}

.homeHero {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.homeHeroInner {
  grid-column-gap: 6.25em;
  grid-row-gap: max(5em, (35vh - 10em));
  grid-template-rows: auto auto;
  grid-template-columns: minmax(200px, 20.25em) 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  min-height: 50vh;
  display: grid;
  position: relative;
}

.actionItemContainer {
  grid-column-gap: 40px;
  grid-row-gap: 20px;
  opacity: 0.65;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 1.5em;
  list-style: none;
  display: flex;
}

.actionItemList {
  display: flex;
  flex-flow: column;
  gap: 8px;
}

.actionItemList li {
  height: 1em;
  font-weight: 500;
  line-height: 1.4;
}

.heroContent {
  max-width: 800px;
  text-align: center;
}

.heroTitle {
  margin: 0;
  font-size: 5em;
  font-weight: 500;
  margin-bottom: 2rem;
  letter-spacing: -0.02em;
}

.btnPrimary {
  background-color: var(--color-light);
  color: var(--color-neutral-dark);
  height: 52px;
  padding: 0 24px;
  border: 0;
  font-size: 1rem;
  border-radius: 4px;
}

.btnBlur {
  background-color: #0000;
  color: var(--color-light);
  height: 52px;
  padding: 0 24px;
  border: 1px #000;
  font-size: 1rem;
  border-radius: 4px;
}

.heroDescription {
  max-width: 400px;
  font-size: 1rem;
  font-weight: 500;
}
