.heroSection {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}

.heroCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: -60px;
  z-index: 0;
  pointer-events: none;
}

.homeHero {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}

.homeHeroInner {
  grid-column-gap: 6.25rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto auto;
  grid-template-columns: minmax(200px, 20.25em) 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  min-height: 50vh;
  display: grid;
  position: relative;
}

.actionItemContainer {
  grid-column-gap: 40px;
  grid-row-gap: 20px;
  opacity: 0.65;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 1.5rem;
  list-style: none;
  display: flex;
}

.actionItemList {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
}

.actionItemList li {
  height: 1rem;
  font-weight: 500;
  line-height: 1.4;
}

.heroContent {
  max-width: 50rem;
  text-align: center;
}

.heroTitle {
  margin: 0;
  font-size: 5rem;
  font-weight: 500;
  margin-bottom: 3rem;
  letter-spacing: -0.02rem;
}

.btnPrimary {
  background-color: var(--color-light);
  color: var(--color-neutral-dark);
  height: 3rem;
  padding: 0 24px;
  border: 0;
  font-size: 1rem;
  border-radius: 4px;
}

.btnBlur {
  background-color: #0000;
  color: var(--color-light);
  height: 3rem;
  padding: 0 24px;
  font-size: 1rem;
  border-radius: 4px;
  display: flex;
  gap: 0.5rem;
  display: flex;
  border: 0;
  align-items: center;
  backdrop-filter: blur(4em);
  background-color: #ffffff12;
}

.btnFaces {
  width: 2.5rem;
  height: fit-content;
}

.heroDescription {
  max-width: 400px;
  font-size: 1rem;
  font-weight: 500;
}

.heroVideo {
  padding: 1rem 1rem 1.5rem 1rem;
  transform-origin: 50% 100%;
  cursor: pointer;
  width: 20.25rem;
  height: 16rem;
  position: absolute;
  inset: auto 0% 0% auto;
  transform: translateY(65%);
  backdrop-filter: blur(4em);
  background-color: #ffffff12;
}

.video {
  object-fit: cover;
  z-index: -100;
  background-position: 50%;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  inset: -100%;
}

.heroVidInfo {
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  font-family: monospace;

  text-transform: uppercase;
  font-family: "DM Mono", monospace;
  font-size: 0.75em;
  font-weight: 400;
  line-height: 1;
}

.videoWrap {
  z-index: 1;
  aspect-ratio: 1.6;
  background-color: #000;
  border-radius: 0.25em;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.homeVideoStar {
  z-index: 5;
  pointer-events: none;
  width: 10rem;
  position: absolute;
  inset: 0% auto auto 0%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
  .homeHeroInner {
    display: flex;
    flex-direction: column;
  }

  .actionItemContainer {
    display: none;
  }

  .heroVideo {
    padding: 1rem 1rem 1.5rem;
    cursor: pointer;
    width: 28rem;
    height: auto;
    transform: none;
    position: relative;
    margin: auto;
  }
}
